<div class="youtube_video">
	{% for value in video_list %}
	{{ value[0] }}<br>
	<iframe width="300" height="300" style="padding-right:1.5rem;" src="https://www.youtube.com/embed/ENIQzi4jaiY" frameborder="0" allowfullscreen></iframe>
	<iframe width="300" height="300" style="padding-right:1.5rem;" src="https://www.youtube.com/embed/" frameborder="0" allowfullscreen></iframe>
	<iframe width="300" height="300" style="padding-right:1.5rem;" src="https://www.youtube.com/embed/f9TgnaSJxCk" frameborder="0" allowfullscreen></iframe>
	{{% endfor %}
</div>
