<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chart.js</title>
    <!-- import plugin script -->
    <script src='/static/js/Chart.min.js'></script>
</head>

<body>
    <!-- pie chart canvas element -->
    <canvas id="countries2" width="600" height="400"></canvas>
    <script>
        var pieData = [{
            value: 70,
            color: "#878BB6"
        }, {
            value: 60,
            color: "#4ACAB4"
        }, {
            value: 80,
            color: "#FF8153"
        }, {
            value: 10,
            color: "#FFEA88"
        }];
        var pieOptions = {
                scaleShowLine: true,
                segmentShowStroke: true,
                segmentStrokeColor: "#fff",
                segmentStrokeWidth: 5,
                animationSteps: 120,
                animateRotate: true,
                animateScale: true,
            }
        new Chart(document.getElementById("countries2").getContext("2d")).Pie(pieData,pieOptions);



        /*
        // bar chart data
        var barData = {
            labels : ["공격","돌격","수비","지원"],
            datasets : [
                {
                    fillColor : "#48A497",
                    strokeColor : "#48A4D1",
                    data : [70,60,80,10]
                }
            ]
        }
        // get bar chart canvas
        var income = document.getElementById("income").getContext("2d");
        // draw bar chart
        new Chart(income).Bar(barData);*/
    </script>
</body>

</html>
