<!DOCTYPE HTML>
<html>
<head>
    <title>방 만들기</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '/chat_base';
            var socket = io.connect('http://' + document.domain + ':' + document.location.port + namespace);
            socket.on('success', function(msg) {
                alert('Success!');
                document.location.href = 'http://' + document.domain + ':' + document.location.port + msg.url;
            });
            socket.on('failure', function(msg) {
                alert(msg.data);
            });
            $('form#create').submit(function(event) {
                socket.emit('create', {room_name: $('#room_name').val(),room_password: $('#room_password').val()});
                return false;
            });
        });
    </script>
</head>
<body>
    <h2>Make:</h2>
    <form id="create" method="POST" action='#'>
        <input type="text" name="room_name" id="room_name">
        <input type="password" name="room_password" id="room_password">
        <input type="submit" value="Create Room">
    </form>
</body>
</html>
