<!DOCTYPE HTML>
<html>
<head>
    <title>채팅 하기</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '/chat_base';
            var socket = io.connect('http://' + document.domain + ':' + document.location.port + namespace);
            socket.on('write_log', function(msg) {
                $('#log').append('<br>' + $('<div/>').text('log : ' + msg.data).html());
            });
            socket.on('write_room_list', function(msg) {
                $('#log').append('<br>' + $('<div/>').text('list : ' + msg.data).html());
                //todo : 방리스트 보여주기
            });
            socket.on('write_message', function(msg) {
                $('#log').append('<br>' + $('<div/>').text('message : ' + msg.data).html());
                //todo : 채팅 리스트 보여주기
            });
            $('form#leave').submit(function(event) {
                socket.emit('leave', {leave_key: {{ login_key }} });
                return false;
            });
            $('form#send_message').submit( function(event) {
                socket.emit('send_message', {send_key: {{ login_key }}, send_msg: $('#send_msg').val()});
                return false;
            });
            setInterval(function() { socket.emit('get_message', {room_key: {{ login_key }} })}, 100);
        });
    </script>
</head>
<body>
    <h1>Flask-SocketIO Test</h1>
    <h2>Send:</h2>
    <form id="leave" method="POST" action='#'>
        <input type="submit" value="Leave Room">
    </form>
    <form id="send_message" method="POST" action='#'>
        <input type="text" name="send_msg" id="send_msg">
        <input type="submit" value="Send to Room">
    </form>
    <h2>Receive:</h2>
    <div id="log"></div>
</body>
</html>
