<!DOCTYPE HTML>
<html>
<head>
    <title>방 목록</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '/chat_base';
            var socket = io.connect('http://' + document.domain + ':' + document.location.port + namespace);
            function make_btn(n){
              return  '<form method="POST" action="/chat/">\
                      <input type="hidden" name="login_key" id="login_key" value="' + n + '">\
                      <input type="submit" value="Login Room">\
                      </form>';
            }
            socket.on('write_log', function(msg) {
                $('#list').append('<tr>' + $('<div/>').text('log : ' + msg.data).html());
            });
            socket.on('write_room_list', function(msg) {
                $('#list').append('<tr>\n<td>' + msg.key +'</td>\n<td>' + msg.name +'</td>\n<td>' + make_btn(msg.key) + '\n</tr>');
            });
            socket.emit('room_list');
        });
    </script>
</head>
<body>
    <button type="button" name="make" onClick="location.href='/make/';">
        <img src="/static/map/pika.jpg" align="absmiddle"> 방 만들기
    </button>
    <table border="1" id="list">
      <tr>
        <th>방 번호</th>
        <th>제목</th>
        <th>입장</th>
      </tr>
    </table>
</body>
</html>
