<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title>Information</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/foundation.min.css">
    <link rel="stylesheet" type="text/css" href='/static/stylesheets/foundation-icons.css'>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/list.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
<style>
    .my-top-bar{
        position: fixed;
        width: 100%;
        z-index: 101;
        
        
    }
    </style>
</head>

<body>
    <div class="my-top-bar">
        <ul>
            <li><a id="home_btn">Home</a></li>
            <li><a id="chat_btn">Chat</a></li>
        </ul>
    </div>

    <br>
    <div class="row">
        <div class="medium-7 large-6 columns">
            <div class="row">
              <div class="large-2 columns">
                {% for key,value in pro.items() %}
                    {% if key|string() == "avatar" %}
                        <img src="{{ value }}" style="width: 64px;">
                    {% endif %}
                {% endfor %}
              </div>
              <div class="large-4 columns">
                    {% for key,value in pro.items() %}
                        {% if key|string() == "username" %}
                          <div style="font-size: 300%;">{{ value }}</div>
                    {% endif %}
                {% endfor %}
              </div>
                <h1>그래프 요기</h1>
            </div>
        </div>
        <div class="show-for-large large-3 columns">
            <div class="callout secondary">

            </div>
        </div>
        <div class="medium-5 large-3 columns">
            <div class="callout secondary">
                <h1>차트요기</h1>
            </div>
        </div>
    </div>
    <div class="row column">
        <hr>
    </div>
    <div class="row column">
        {% for key,value in pro.items() %}
          {% if key|string() == "competitive_rank_img" %}
            <img src="{{ value }}">
          {% endif %}
        {% endfor %}
    </div>
    <div class="row small-up-1 medium-up-2 large-up-3">
        <div class="column">
            <div class="callout">
                <p>Pegasi B</p>
                <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
                <p class="lead">Copernican Revolution caused an uproar</p>
                <p class="subheader">Find Earth-like planets life outside the Solar System</p>
            </div>
        </div>
        <div class="column">
            <div class="callout">
                <p>Pegasi B</p>
                <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
                <p class="lead">Copernican Revolution caused an uproar</p>
                <p class="subheader">Find Earth-like planets life outside the Solar System</p>
            </div>
        </div>
        <div class="column">
            <div class="callout">
                <p>Pegasi B</p>
                <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
                <p class="lead">Copernican Revolution caused an uproar</p>
                <p class="subheader">Find Earth-like planets life outside the Solar System</p>
            </div>
        </div>
        <div class="column">
            <div class="callout">
                <p>Pegasi B</p>
                <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
                <p class="lead">Copernican Revolution caused an uproar</p>
                <p class="subheader">Find Earth-like planets life outside the Solar System</p>
            </div>
        </div>
        <div class="column">
            <div class="callout">
                <p>Pegasi B</p>
                <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
                <p class="lead">Copernican Revolution caused an uproar</p>
                <p class="subheader">Find Earth-like planets life outside the Solar System</p>
            </div>
        </div>
        <div class="column">
            <div class="callout">
                <p>Pegasi B</p>
                <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
                <p class="lead">Copernican Revolution caused an uproar</p>
                <p class="subheader">Find Earth-like planets life outside the Solar System</p>
            </div>
        </div>
    </div>
    <div class="row column">
        <a class="button hollow expanded">Load More</a>
    </div>
    <footer>
    </footer>
    <script>
        document.getElementById("home_btn").setAttribute("href", "http://" + document.domain + ":5000");
        document.getElementById("chat_btn").setAttribute("href", "http://" + document.domain + ":5001");
    </script>
</body>

</html>
